<!-- dashboard.html -->
{% extends '_base.html' %}

{% block title %}{% if form.instance.pk %}Edit Kelas{% else %}Tambah Kelas{% endif %}{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow-sm mx-auto" style="max-width: 600px">
    <div class="invalid-feedback">
      {{ form.nama_kelas.errors }} <!-- Menampilkan error validasi -->
    </div>
    <div class="card-body p-4">
      <h1 class="card-title text-center mb-4">
        {% if form.instance.pk %}Edit Kelas{% else %}Tambah Kelas{% endif %}
      </h1>
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="id_nama" class="form-label fw-bold">Nama Kelas</label>
          <!-- Ganti semua referensi 'nama' menjadi 'nama_kelas' -->
          <input
            type="text"
            name="nama_kelas" 
            class="form-control form-control-lg"
            id="id_nama_kelas" 
            placeholder="Masukkan nama kelas"
            value="{{ form.nama_kelas.value|default_if_none:'' }}" 
            required
          />
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn btn-primary btn-md">
            Simpan
          </button>
          <a href="{% url 'kelas_list' %}" class="btn btn-secondary btn-md">
            Kembali
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}