<!-- dashboard.html -->
{% extends '_base.html' %}

{% block title %}Kelas Management{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1>Kelas Management</h1>
  <a href="{% url 'kelas_create' %}" class="btn btn-primary mb-3"
    >Tambah Kelas</a
  >
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Nama Kelas</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for k in kelas %}
      <tr>
        <td>{{ k.nama_kelas }}</td>
        <td>
          <a
            href="{% url 'kelas_update' k.pk %}"
            class="btn btn-warning btn-sm"
            >Edit</a
          >
          <a
            href="{% url 'kelas_delete' k.pk %}"
            class="btn btn-danger btn-sm"
            >Hapus</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}