<!-- dashboard.html -->
{% extends '_base.html' %}

{% block title %}Log Masuk Student{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1>Log Masuk Student</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Siswa</th>
        <th>Waktu Masuk</th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
      <tr>
        <td>{{ log.siswa.nama_lengkap }}</td>
        <td>{{ log.waktu_masuk }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}