<!-- upload_voice.html -->
{% extends '_base.html' %}

{% block title %}Upload Model Suara - {{ siswa.nama_lengkap }}{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>Upload Model Suara untuk {{ siswa.nama_lengkap }}</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Upload Model</button>
    <a href="{% url 'student_list' %}" class="btn btn-secondary">Batal</a>
  </form>
</div>
{% endblock %}