<!-- dashboard.html -->
{% extends '_base.html' %}

{% block title %}Nilai Detail{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="card">
      <div class="card-header">
          <h3>Hasil Ujian: {{ ujian.nama }}</h3>
      </div>
      <div class="card-body">
          <h5 class="card-title">Detail Hasil:</h5>
          <p class="card-text">
              Nama: {{ request.user.username }}<br>
              Nilai: 
              <span class="badge {% if hasil.nilai >= 70 %}bg-success{% else %}bg-danger{% endif %}">
                  {{ hasil.nilai|floatformat:1 }}%
              </span><br>
              Tanggal Pengerjaan: {{ hasil.waktu_pengerjaan|date:"d F Y H:i" }}<br>
              Durasi Ujian: {{ ujian.durasi_menit }} menit<br>
              Waktu Mulai: {{ ujian.waktu_mulai|date:"d F Y H:i" }}<br>
              Waktu Selesai: {{ ujian.waktu_selesai|date:"d F Y H:i" }}
          </p>
          <a href="{% url 'dashboard' %}" class="btn btn-primary">Kembali ke Daftar Ujian</a>
      </div>
  </div>
</div>
{% endblock %}
