{% extends '_base.html' %}

{% block title %}Akses Ujian{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1>Akses Ujian</h1>
  {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="code">Masukkan Code Ujian</label>
      <input
        type="text"
        class="form-control mb-2"
        id="code"
        name="code"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Masuk</button>
  </form>
</div>
{% endblock %}