{% extends '_base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1>List Soal - {{ ujian.nama_ujian }}</h1>
  <a href="{% url 'soal_create' ujian.id %}" class="btn btn-primary mb-3"
    >Tambah Soal</a
  >
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Pertanyaan</th>
        <th>Pilihan A</th>
        <th>Pilihan B</th>
        <th>Pilihan C</th>
        <th>Pilihan D</th>
        <th>Jawaban Benar</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for s in soal %}
      <tr>
        <td>{{ s.pertanyaan }}</td>
        <td>{{ s.pilihan_a }}</td>
        <td>{{ s.pilihan_b }}</td>
        <td>{{ s.pilihan_c }}</td>
        <td>{{ s.pilihan_d }}</td>
        <td>{{ s.jawaban_benar }}</td>
        <td>
          <a
            href="{% url 'soal_update' s.id %}"
            class="btn btn-warning btn-sm"
            >Edit</a
          >
          <a
            href="{% url 'soal_delete' s.id %}"
            class="btn btn-danger btn-sm"
            >Hapus</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'ujian_list' %}" class="btn btn-secondary"
    >Kembali ke List Ujian</a
  >
</div>
{% endblock %}