<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ujian App{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/011/516/428/non_2x/international-education-concept-design-education-globe-icon-logo-template-free-vector.jpg">
</head>
<body>
    {% include '_navbar.html' %}
    
    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>